/* manage */
.nr-actions div, .nr-actions form { float:left; margin:5px; padding:5px; }
.nr-actions form { width:200px; }
.nr-actions li { float:left; margin:0 15px; }

.manage-book { padding:5px; }

.manage-book .book-image { float:left; width:140px; text-align:center; }

.manage-book .book-image img { border:1px solid #666; margin:0 auto; max-width:140px; max-height:250px; }
* html .manage-book .book-image img { width:90px; height:140px; }

.manage-book .book-image img.small { max-width:60px; max-height:200px; }
* html .manage-book .book-image img.small { width:60px; height:95px; }

.manage-book .book-details { margin-left:140px; }
.manage-book input.main { width:400px; }
.manage-book label.left { float:left; width:150px; }

.book-meta-table textarea { height:30px; }
.book-meta-table textarea.value { width:400px; }

.nr-add-grouping { margin:5px; padding:5px; border:1px solid #ccc; }
